body {
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/007/100/608/small_2x/abstract-geometric-white-and-gray-on-light-silver-gradient-background-modern-banner-design-illustration-free-vector.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.App {
  text-align: center;
}

.add-user{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  gap: 20px;
  width:700px; 
}

.add-button{
  margin-left:400px !important;
  margin-top:30px !important;
  margin-bottom:30px !important;
  width:200px;
}
.dashboard1{
  margin-top: 70px;
  margin-left: 450px;
  margin-bottom:30px;
}

.dashboard{
  margin-top: 70px;
  margin-left: 350px;
  margin-bottom:30px;
}

.user-login{
  width:300px;
  height: 50px;
  background-color: rgb(246, 183, 47) !important;
}

.profile-login{
  width :300px;
  height:50px;
  background-color:  rgb(65, 112, 231) !important;
  margin-bottom: 30px !important;
}